*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccb08a;
  font-family: "Poppins", sans-serif;
}
.container {
}
.nav {
  background-color: #592a13;
  height: 10vh;
}
.nav ul {
  display: flex;
  justify-content: center;
  text-weight: bold;
}
.nav ul li {
  color: #e9e7e6;
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
.nav ul li a:link {
  text-decoration: none;
  color: #e9e7e6;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #592a13;
  background-color: #ccb08a;
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.content a {
  width: 1260px;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration:none;
  color:#592a13;
  font-weight:bold;
  font-size:20px;
}
.content a img {
  width: 30%;
}
#biodata{
  margin: 2px;
  color:#592a13;
  font-size:16px;
}
.footer {
  height: 10vh;
  background-color: #592a13;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  font-size: 20px;
  padding: 15px;
  color: #e9e7e6;
}
